<nav class="navbar is-fixed-top">
  <div class="container px-3">
    <div class="navbar-brand">
      <a class="navbar-item py-4" href ="/">
        <img src="https://davyvong.com/icon_72x72.f93874e83bbc64a99f1e44c65ca88949.png" width="28" height="28">
      </a>
      <a class="navbar-item py-4" href="/browse">
        Browse
      </a>
      <a class="navbar-item py-4" href="/search">
        Search
      </a>
    </div>
  </div>
</nav>